<div class="nav__item has-dropdown is-hoverable">
    <a class="nav__link">
        MORE
    </a>
    <div class="nav__dropdown has-background-black is-left">
        {% for sitepage in site.html_pages %}
        {% unless sitepage.url == '/' or sitepage.url == '/404'  or sitepage.url == '/projects' %}
        <a href="{{sitepage.url | absolute_url}}"
            class="navbar-item {% if page.url == sitepage.url | absolute_url  %}is-active{% endif %}">
            {{sitepage.title}}
        </a>
        {% endunless %}
        {% endfor %}
        <!-- <hr class="nav__divider">
    <a class="nav__item">
      Report an issue
    </a> -->
    </div>
</div>
